<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>959322011757-ptusc08942v79kk6ck2r6nuel1i8shsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959322011757-ptusc08942v79kk6ck2r6nuel1i8shsv</string>
	<key>API_KEY</key>
	<string>AIzaSyBSUayMLCOyfS71ahZ2whI0OXq1L8Ddc9I</string>
	<key>GCM_SENDER_ID</key>
	<string>959322011757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>D6.Recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-3924c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-3924c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959322011757:ios:ce1206daef7b6ab8</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-3924c.firebaseio.com</string>
</dict>
</plist>