<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Derrial Book</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/shepherd-book/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>River Tam</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/river-tam/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Simon Tam</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/simon-tam/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaylee Frye</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/kaylee-frye/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jayne Cobb</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/jayne-cobb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inara Serra</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/inara-serra/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoban &quot;Wash&quot; Washburn</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/hoban-wash-washburne/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoe Washburn</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/zoe-washburne/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Malcolm Reynolds</string>
		<key>url</key>
		<string>https://www.planetclaire.tv/quotes/firefly/malcolm-reynolds/</string>
	</dict>
</array>
</plist>
