<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Imagine Dragons</key>
	<array>
		<string>Thunder</string>
		<string>Radioactive</string>
		<string>Poloroid</string>
		<string>On Top of the World</string>
	</array>
	<key>Bastille</key>
	<array>
		<string>Pompeii</string>
		<string>Oblivion</string>
		<string>Good Grief</string>
		<string>Power</string>
		<string>Of the Night</string>
		<string>Glory</string>
	</array>
	<key>Lumineers</key>
	<array>
		<string>Ho Hey</string>
		<string>Cleopatra</string>
		<string>Long Way From Home</string>
		<string>Patience</string>
		<string>Charlie Boy</string>
		<string>Submarines</string>
	</array>
	<key>Harry Connick, Jr.</key>
	<array>
		<string>Like We Do</string>
		<string>We Are In Love</string>
		<string>A Wink and a Smile</string>
		<string>Love is Here to Stay</string>
		<string>Smile</string>
		<string>The Very Thought of You</string>
		<string>Trouble</string>
		<string>She</string>
	</array>
	<key>Andy Grammer </key>
	<array>
		<string>Honey, I'm Good</string>
		<string>Fresh Eyes</string>
		<string>Smoke Clears</string>
		<string>Fine by Me</string>
		<string>Sinner</string>
	</array>
	<key>Phillip Phillips</key>
	<array>
		<string>Gone, Gone, Gone</string>
		<string>Home</string>
		<string>So Easy</string>
	</array>
	<key>Capital Cities</key>
	<array>
		<string>Safe and Sound</string>
		<string>Kangaroo Court</string>
		<string>Vowels</string>
		<string>One Minute More</string>
		<string>Drop Everything</string>
	</array>
	<key>Barenaked Ladies</key>
	<array>
		<string>Odds Are</string>
		<string>One Week</string>
		<string>If I have $1,000,000</string>
		<string>It's All Been Done</string>
		<string>Pinch Me</string>
		<string>Invisible Fence</string>
		<string>Nobody Better</string>
	</array>
</dict>
</plist>